<!DOCTYPE html>
<html lang="en">

<head>
    <title><%= title %></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">
    <script src="/javascripts/jQuery/jquery-3.3.1.min.js"></script>
    <script src="/javascripts/jQuery/jquery-confirm.min.js"></script>
    <script src="/javascripts/main.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/jquery-confirm.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/css.min.css">
</head>

<body>
    <header>
    <% if(!logged){ %>
        <%- include('guest/nav') %>
    <% }else { %>
        <% if(role ==='client'){ %>
            <%- include('user/nav') %>
        <% } if(role ==='admin') {%>
            <%- include('admin/nav') %>
    <% }} %>
    </header>
    <main class="content">
    <%- include(page) %>
    </main>
</body>

</html>